<h2>HomePage</h2>
<img src="/images/Temuco_children.jpg" />
<form method="POST" action="/login">
  メールアドレス：<input type="text" name="mailAddress">
  パスワード：<input type="text" name="password">
  <input type="submit" value="ログイン">
</form>
