@CHARSET "UTF-8";

body {
	background-color: #ccffcc
}

h2 {
	font-size: large;
	color: #ffffff;
	background-color: #339933;
	line-height: 40px;
	padding-left: 10px;
	width: 90%;
}

li.menuli{
  display: inline-block;
  font-size: large;
  width: 8%;
}

div.left{
	border:none;
	float: left;
	width: 20%;
}

div.right{
	border:none;
	float: right;
	width: 80%;
}